<div id='header'>
  <div class='header_title'>동문회 공지사항</div>
</div>
<%= render partial: 'postings/new_posting_form', locals: {value: Posting::PLATFORM['ANNOUNCEMENT'], resource: Posting.new, placeholder: current_user.name + ' 동문님, 여기에 동문회 공지사항을 올려주세요'} %>
<div id='page_content_container'>
  <div id="postings">
  </div>
</div>
<%= render partial: 'postings/posting_script', locals: { serialized_paginate_params: ("'platform=announcement'").html_safe } %>
