<div class='employment_organization_name'>
  <%= employment.organization.name %>
  <% unless employment.careernote.blank? %>
    <%= render partial: 'careernotes/careernote_icon', locals:{careernote: employment.careernote} %>
  <% end %>
</div> 
<%= render partial: 'employments/additional_information', locals: {employment: employment} %>
