<% if @organization.valid? %>
  $('#employments').append("<div id=<%= escape_javascript('employment_' + @employment.id.to_s + '_container') %>><%= escape_javascript(render partial: 'employments/employment_with_update', locals:{employment: @employment, display: true}) %></div>");
  $('#add_employment_form_error_message').empty();
  $('#organization_name_field').val('');
<% else %>
  $('#add_employment_form_error_message').html("<%= @organization.errors.first[1] %>");
<% end %>
