<% careernote = employment.careernote %>
<% careernote ||= Careernote.new %>
<% if type == 'create' %>
  <% url = create_careernote_url(employment) %>
  <% submit_text = '직업 소개하기' %>
<% else %>
  <% url = update_careernote_url(employment) %>
  <% submit_text = '수정하기' %>
<% end %>
<div id="careernote_error_message" class='warning'></div>
<%= form_for careernote, url: url do |f| %>
  <div>
    <%= f.text_area :content, placeholder: placeholder, autocomplete: :off, id: 'careernote_form_text_area' %>

  </div>
  <div class='careernote_form_submit'>
    <%= f.submit submit_text, class: 'ui-button float-right' %>
  </div>
<% end %>
