<script src="tiny.editor.packed.js"></script>

<% careernote = employment.careernote %>
<% careernote ||= Careernote.new %>
<% if type == 'create' %>
  <% url = create_careernote_url(employment) %>
  <% submit_text = '직업 소개하기' %>
<% else %>
  <% url = update_careernote_url(employment) %>
  <% submit_text = '수정하기' %>
<% end %>
<div id="careernote_error_message" class='warning'></div>
<%= form_for careernote, url: url do |f| %>
  <div>
    <%= f.text_area :content, placeholder: placeholder, autocomplete: :off, class: 'careernote_form_text_area', id: 'tinyeditor' %>

  </div>
  <div class='careernote_form_submit'>
    <%= f.submit submit_text, class: 'ui-button float-right', onclick: "editor.post()" %>
  </div>
<% end %>

<script text="javascript">
  $(document).ready( function() {
    var editor = new TINY.editor.edit('editor', {
    id: 'tinyeditor',
    width: 584,
    height: 175,
    cssclass: 'tinyeditor',
    controlclass: 'tinyeditor-control',
    rowclass: 'tinyeditor-header',
    dividerclass: 'tinyeditor-divider',
    controls: ['bold', 'italic', 'underline', 'strikethrough', '|', 'subscript', 'superscript', '|',
        'orderedlist', 'unorderedlist', '|', 'outdent', 'indent', '|', 'leftalign',
        'centeralign', 'rightalign', 'blockjustify', '|', 'unformat', '|', 'undo', 'redo', 'n',
        'font', 'size', 'style', '|', 'image', 'hr', 'link', 'unlink', '|', 'print'],
    footer: true,
    fonts: ['굴림','바탕','돋움','Verdana','Arial','Georgia','Trebuchet MS'],
    xhtml: true,
    cssfile: 'custom.css',
    bodyid: 'editor',
    footerclass: 'tinyeditor-footer',
    toggle: {text: 'source', activetext: 'wysiwyg', cssclass: 'toggle'},
    resize: {cssclass: 'resize'}
});
  });
</script>
