<div class="careernote_keyword">감사합니다. 소중한 경험이 저장되었습니다</div>
<div class="additional_suggestion", id="submit_message">
<span class="careernote_sub"><%="#{current_user.name} 동문님, 다른 직장에서의 경험도 공유해주세요!"%></span>
<ul id = "suggestion_table">
  <%unless @employments_without_careernote.blank? %>
    <% for employment in @employments_without_careernote %>
      <li class = "suggestion"><%= link_to "#{employment.organization.name}", new_careernote_url(employment) %></li>
    <% end %>
  <% end %>  
</ul>

</div>

