<div>
  <%= form_for(@group) do |f| %>
    <ul>
      <li><%= f.text_field :name %></li>
      <li><%= f.text_area :description %></li>
    </ul>
    <div><%= f.submit '소모임 만들기' %></div>
  <% end %>
</div>
