<% if @likes.blank? %>
  <div>해당 포스팅을 좋아하는 동문이 없습니다</div>
<% else %>
  <% for like in @likes %>
    <% like_user = like.user %>
    <div><%= like_user.wave %>기 <%= like_user.name %></div>
  <% end %>
<% end %>
