<div class='new_posting_container'>
  <div id="posting_error_message" class='warning'></div>
  <div class='new_posting_form'>
    <%= form_for resource, remote: true do |f| %>
      <div class='new_posting_form_input_area'>
        <%= f.text_area :content, placeholder: placeholder, class: 'new_posting_textarea' %>
        <%= f.hidden_field :platform, value: value %>
      </div>
      <div class ='new_posting_form_submit_button'><%= f.submit '글 올리기' , class:'ui-button float-right'%></div>
    <% end %> 
  </div>
</div>

