$("#postings").append("<div class='page'><% for posting in @postings %><%= escape_javascript(render partial: 'postings/posting', locals: {posting: posting, platform: @platform} ) %><% end %></div>");
