$("#feeds").append("<div class='page'><% for posting in @postings do%><%=  escape_javascript( render partial: 'postings/posting', locals: {posting: posting, writeability: @writeability, is_newsfeed: false}) %><% end %></div>");
