<% row_count = 0 %>
<% for user in @users %>
  <% if row_count == 0 %>
    <div class='search_result_item_row'>
  <% end %>
  <% if row_count == 3 %>
    </div>
    <% row_count = 0 %>
  <% else %>
    <% row_count += 1 %>
  <% end %>
<% end %>
