<div class='search_result'>
  <div class='search_result_alumni float-left'>
    <%= user.wave.to_s + '기 ' + user.name %>
  </div>
  <div class='search_result_email float-right'>
    <%= user.email %>
  </div>
</div>
