<%= user.tag_list %>
<div id='add_tag_form_container'>
</div>
<p><%= link_to '태그 추가', '#',  id:'add_tag_form_link'%></p>


<script text="javascript">
  $(document).ready( function() {
  
   $('body').on('click', '#add_tag_form_link', function(event) {
      event.preventDefault();
      $(this).hide();
      $.ajax({
        url: '/get_add_tag_form',
        type: 'get',
        dataType: 'html',
        success: function(data) {
           $('#add_tag_form_container').html(data);
        }
      });
    });
	
  });
</script>