<div id='header'>
  <div class='header_title float-left'>동문 검색</div>
</div>

<div id='search_form_container'>
  <%= form_tag search_alumni_url, id:'search_form', method: :get, remote: true do %>
  <div id='search_form_main'>
    <span id='wave'>
      <%= select_tag :wave, options_for_select((1..(Time.now.year - 1998)).map {|s| ["#{s}", s]}), id: 'wave_field', include_blank:true, default: nil, autocomplete: :off %> 기 
    </span>
    <span id='name'>
      <%= text_field_tag :name, nil, id: 'name_field', placeholder: '이름', autocomplete: :off %>
    </span> 
    동문을 찾습니다
  </div>
  <div id='search_form_submit'><%= submit_tag '동문 찾기' %></div>
  <% end %>
</div>

<div id="alumni_search_result">
</div>
