<% if @users.blank? %>
  $("<%= '#organization_' + @organization.id.to_s + '_alumnis' %>").html("<div class='no_result_message'>해당 직장을 다닌 동문이 없습니다</div>");
<% else %>
  <% for user in @users %>
    $("<%= '#organization_' + @organization.id.to_s + '_alumnis' %>").append("<%= escape_javascript(render partial:'network/search_result_item', locals:{user: user}) %>");
  <% end %>
<% end %>
