$('#alumni_search_result').empty();
<% if @users.blank? %>
  $('#alumni_search_result').html("<div class='no_result_message'>해당 동문을 찾지 못했습니다</div>");
<% else %>
  $('#alumni_search_result').html("<%= escape_javascript(render partial:'network/search_result', locals:{users: @users}) %>");
<% end %>
