$('#alumni_search_result').empty();
<% if @users.blank? %>
  $('#alumni_search_result').html('해당 동문을 찾지 못했습니다.');
<% else %>
  $('#alumni_search_result').append('<ul>');
  <% for user in @users %>
    $('#alumni_search_result').append("<li><%= user.wave.to_s + '기 ' + user.name %></li>");
  <% end %>
  $('#alumni_search_result').append('</ul>');
<% end %>
