<div id='header'>
  <div class='header_title'>뉴스피드</div>
</div>
<%= render partial: 'postings/new_posting_form', locals: {value: Posting::PLATFORM['WALL'], resource: Posting.new, placeholder: current_user.name + ' 동문님, 여기에 동문들과 소식을 나누세요'} %>
<div id='page_content_container'>
  <div id='postings'>
  </div>
</div>
<script type='text/javascript'>
  var page = 1;
  var numPages = 0;
  var loading = true;
  var content = 'postings'
  var params = <%= ("'platform=newsfeed'").html_safe %>

  $(document).ready( feed() );
</script>



