<script type="text/javascript">
  $(function() {
    $('#<%= type %>_name_field').autocomplete({
      minLength: 1,
      source: '<%= url %>',
      focus: function(event, ui) {
               $('#<%= type %>_name_field').val(ui.item.name);
               return false;
             },
      select: function(event, ui) {
                $('#<%= type %>_name_field').val(ui.item.name);
                return false;
              }
    })

  .data( "autocomplete" )._renderItem = function( ul, item ) {
     return $( "<li></li>" ).data( "item.autocomplete", item )
                            .append( "<a>" + item.name + "</a>" )
                            .appendTo( ul );
        };
  });
</script>
