<div id="<%= 'employment_' + @employmnet.id.to_s + '_container' %>">
  <div id="<%= 'employment_' + @employment.id.to_s + '_container' %>">
    <%= render partial: 'employments/employment_with_update', locals:{employment: @employment, display: true} %>
  </div>
</div>
