<div id="<%= 'education_' + @education.id.to_s + '_container' %>">
  <div id="<%= 'education_' + @education.id.to_s + '_container' %>">
    <%= render partial: 'educations/education_with_update', locals:{education: @education, display: true} %>
  </div>
</div>
