<%= form_for(current_user, url: update_settings_url, html: { method: :put }, remote: true) do |f| %>

  <div>새 비밀번호<br />
  <%= f.password_field :password, autocomplete: :off %></div>

  <div>현재 비밀번호<br />
  <%= f.password_field :current_password, autocomplete: :off%></div>
  
  <div><%= f.submit "저장" %></div>
<% end %>
