<%= form_for(current_user, url: registration_path(:user), html: { method: :put }, remote: true) do |f| %>

  <div>이메일<br />
  <%= f.text_field :email, autocomplete: :off %></div>

<div><%= f.submit "저장" %></div>
<% end %>
