<div id='update_password_error_message'></div>
<div id="update_password_form_container" class="get_form_container">
  <div class='update_form'>
    <%= form_for(current_user, url: update_settings_url(attr:'password'), html: { method: :put }, remote: true) do |f| %>

      <div class='update_form_title'>새 비밀번호</div>
      <div class='update_form_input'>
        <%= f.password_field :password, autocomplete: :off %>
      </div>

      <div class='update_form_title'>현재 비밀번호</div> 
      <div class='update_form_input'>
        <%= f.password_field :current_password, autocomplete: :off%>
      </div>
  
      <div>
        <%= f.submit "저장하기", class: 'ui-button' %>
      </div>
    <% end %>
  </div>
</div>
