development:
  adapter: postgresql
  encoding: utf-8
  database: kmlaalumni_development
  pool: 5
  port: 5432
  username: [USERNAME]
  password: [PASSWORD]

test:
  adapter: postgresql
  encoding: utf-8
  database: kmlaalumni_test
  pool: 5
  port: 5432
  username: [USERNAME]
  password: [PASSWORD]
