<% class_name = taggable.class.name.downcase %>

<%=form_for [taggable,Tag.new], remote: true do |f| %>
  <%= f.autocomplete_field :name, autocomplete_tag_name_tags_path, class:'tag_textfield', placeholder: '태그를 써주세요',id:'tag_form' %>
  <%= f.text_field :type, value:"HashTag", style:'display:none' %>
  <div id='tag_suggestion'></div>
  <div id='tag_error_message'></div>
<% end %>

<script>
//Let tag_form submit when enter pressed

$(document).ready(function(){
  $('#tag_form').keydown(function(event){
    if (event.keyCode==13){
      $('#tag_suggestion').hide();
      if ($('#tag_form').val() == ""){ //When input is blank      	
      	$('#tag_error_message').html("입력해주세요");
      	return false;
      }
      if ($('#tag_form').val().length <= 15){        
	$('#tag_form').submit();
	return false;
      }
      else{
      	$('#tag_error_message').html("15자이하로 입력해주세요");
      	return false;
      }
    }
    else{
      $('#tag_suggestion').show();
    }
  });
  $( "#tag_form" ).autocomplete({ appendTo: "#tag_suggestion"});
  

});

</script>
