<ul>
  <% @careernotes.each do |careernote| %>
    <li>
	<%=link_to "#{careernote.organization.name}", careernote_url(careernote), title:"#{careernote.user.wave}기 #{careernote.user.name}님이 작성하셨습니다" %>
	<%= render partial: 'careernotes/careernote_icon', locals:{careernote: careernote} %>	
    </li>
  <% end %>
</ul>                    
