<div id='tag_cloud'>
  <% @tags.sort { |x,y| x.name <=> y.name }.each do |tag| %>
      <%= link_to tag_url(tag),	remote:remote do%> 	
	<%= render tag %> 
      <% end %>
  <% end %>
  <% unless request.original_url==tags_url %>
    <div id='tag_index_link'>
      <%= link_to '모든 태그 보기', tags_url %>
    </div>
  <% end %>
  
</div>



