
<div id ='tag_container'>
  <div id = 'hashtag_container'>
    <h3>해시태그</h3>
    <!-- Get all tags of taggable by alphabetical order-->
    <%= render partial:'tags/tag_cloud', locals:{remote:false, type:"HashTag"} %>
    <div id='tag_add_button_container'>
      <span id='tag_add_button'><%=link_to '해시태그 추가하기',add_tag_button_url, remote:true %></span>
      <div id='tag_add_textfield', style='display:none'>
	  <%= render partial: 'tags/add_tag_form', locals:{taggable:taggable} %>
      </div>
    </div>
  </div>
  
  <h3>위치태그</h4>
  <%= render partial:'tags/tags_url_link' %>
</div>

