<div class='tag_cloud', id="<%=type.downcase+"_cloud" %>">
  <div class='tag_list', id="<%=type.downcase+"_list" %>">
    <% @tags.select{|t| t.type==type}.sort { |x,y| x.name <=> y.name }.each do |tag| %>
	<%= link_to tag_url(tag), remote:remote do%> 	
	  <%= render partial:'tags/tag', locals:{tag:tag} %> 
	<% end %>
    <% end %>
  </div>
</div>



