<div id="tag_careernotes", class='float-left tag_content'>
  <h3>커리어노트</h3>
  <%= render partial:'tags/careernote'  %>
</div>
<div id="tag_users", class='float-left tag_content'>
  <h3>이 태그에 좋아하는 동문</h3>  
  <%= render partial:'tags/like_users'  %>
</div>

