/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 
 */
 
 
BODY {
  margin: 0;
  font-family: gulim, sans-serif;
  font-size: 12px;
  color: #555555;
}

ul {
  list-style-type:none; 
  margin:0;
  padding:0
}

a {
  text-decoration: none;
  color: #0d76b8;
}

.message { color: #4889b3; }
.warning  { color: #e81e57; font-size:12px; }

.field_with_errors {
  display: block;
  clear: both;
}

#wrapper {
  width: 980px;
  margin-left:auto;
  margin-right:auto;
}

#main_container {
  margin-top:40px;	
  width:900px;
}

#horizontalbar_container{
  height:25px; 	
  position: fixed;
  top:0px;
  left:0px;
  z-index:10000;
  width:100%; 
  opacity:1.0;	  
  background:white;
  
  /* Drop Shadow compatable to all browsers */
  -moz-box-shadow: 1px 1px 2px #BEDCE9;
  -webkit-box-shadow: 1px 1px 2px #BEDCE9;
  box-shadow: 1px 1px 2px #BEDCE9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#BEDCE9')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#BEDCE9');

 
}
#horizontalbar{
  width:1250px;
  margin-bottom:4px;
  margin-left:auto;
  margin-right:auto;
  position:absolute;
}

#horizontalbar li{
  width:150px;	
  float:left;
  display:inline-block;	
  font-size: 12px;
  font-weight: bold;  
}


#horizontalbar a{
}

#horizontalbar li ul{
  margin-top:12px;
  border-top: 2px solid #0d76b8;  .
  display:none;  
}

#horizontalbar li ul li{ 
  width:140px;
  display:block; 
  padding: 8px 0 8px;
  background: white;  
  border-bottom: 1px dotted #0d76b8;  
}

.horizontal_option_link{
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  float:right;
  margin-top:3px;
}

#header {
  width: 520px;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header_title {
  color: #4889b3;
  font-size: 16px;
  font-weight: bold;
}

#sidebar_container {
  width: 180px;
  float:left;
  margin-right:50px;
}

.sidebar {
  margin-top: 20px;
}

.sidebar_link_container {
  width: 130px;
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px 0;
}

.sidebar_link { 
  font-size: 12px;
}

.sidebar_option_link {
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}

#dialog_box {
  width: 350px;
  height: 400px;
  position: fixed;
  margin-left:-175px;
  margin-top:-200px;
  left: 50%; 
  top:50%; 
  z-index: 100;
  background-color: white;
  -moz-box-shadow: 0 0 16px #4889b3;
  -webkit-box-shadow: 0 0 16px #4889b3;
  box-shadow: 0 0 16px #4889b3;
}

#dialog_header {
  background-color: #f1f8fd;
  border-bottom: 1px solid #dddddd;
  height: 15px;
  padding: 5px 5px 6px 5px;
}

#dialog_title {
  color: #4889b3;
  font-size: 15px;
  font-weight: bold;
}

#dialog_content{
  height: 350px;
  overflow-y: auto;
}

#dialog_footer {
  height: 13px;
  border-top: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 5px;
}

#dialog_close_link {
  width:30px;
  float: right;
}

.new_posting_container {
  width:520px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

#posting_error_message {
  height: 20px;
  margin: 2px 0;
}

.new_posting_form {
  width: 520px;
  margin-bottom: 20px;
}

.new_posting_textarea {
  width: 500px;
  height: 65px;
  padding: 2px;
}

.new_posting_form_submit_button {
  height: 30px;
  margin: 10px 15px 2px 0;
}

.content {
  word-wrap: break-word;
  line-height: 20px;
  overflow: hidden;
}

#page_content_container {
  width: 520px;
  margin-bottom: 30px;
}

.feedable_container {
  width:520px;
  margin-bottom: 15px;
}

.comment_container {
  width: 400px;
  background-color: #f1f8fd;
  font-size:12px;
}

.feedable_author {
  color:#444444; 
  font-weight:bold; 
}

.comment_author {
  color:#555555; 
  font-weight:bold;
}

.commentable_date {
  color:#888888;
  font-size:9px;
}

.comment_main_section {
  padding-top: 2px;
  margin: 2px 0 3px 3px;
}

.posting_group {
  font-size:11px;
  font-weight: bold;
}

.posting_announcement_link {
  font-size: 13px;
  color:#e01d4f;
}

.posting_content_container {
  margin: 10px 0;
}

.content_activity_bar { 
  width:400px;
  font-size: 11px;
  margin-bottom: 5px;
  margin-left: 3px;
}

.comments_container,
.likes_container, 
.get_more_comments_link_container { 
  width: 400px;
}

.likes, .get_more_comments_link {
  width:397px;
  height:18px;
  background-color:#f1f8fd;
  margin-bottom: 3px;
  padding-top:2px;
  padding-left:3px;
  font-size: 11px;
}

.new_comment_form {
  width:400px;
  margin: 5px 0 15px 0;
}

.comment_textarea {
  width: 392px;
  height: 16px;
  padding: 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #cccccc;
}

.placeholder { color: #888888; }

.center { margin: 0 auto; }
.float-left { float:left; }
.float-right { float:right; }

textarea {
  resize: none;
  overflow: auto;
}

input:not([type=submit]):not([type=file]):not([type=image]),textarea, select {
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #79BAEC;
  font-size:12px;
}

input:focus {
  outline: none;
}

img { border-style: none; }

.form_fields {
  width:285px;
}

.form_submit {
  width:65px;
  height:65px;
  margin: 14px 0;
}

.signin_form_container {
  width:350px;
  height:130px;
  margin-top:5px;
}

:root .ui-button {
  filter: none;
  /* IE10 */ 
background-image: -ms-linear-gradient(center top, #2F94D3 0%, #4889b3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(center top, #2F94D3 0%, #4889b3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #2F94D3 0%, #4889b3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #2F94D3), color-stop(1, #4889b3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(center top, #2F94D3 0%, #4889b3 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(center top, #2F94D3 0%, #4889b3 100%);
} 


.ui-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4889b3;
  border: 1px solid #4889b3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8) inset;
  cursor: pointer;
  display: inline-block;
  min-width: 97px;
  height: 28px;
  outline: 0 none;
  text-decoration: none !important;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
}


