.careernotes_container {
  width: 800px;
}

#careernote_form_text_area { 
  width: 800px;
  height: 80px;
  margin-top: 5px;
}

.careernote_form_submit {
  width: 600px;
  height: 30px;
  margin-top: 10px;
}

.careernote_banner {
  margin-bottom: 20px;
}

#careernotes {
  width: 700px;
}

#careernotes_menubar {
  width: 170px;
}

.careernote_menu_link_container {
  width: 170px;
  height: 30px;
  line-height: 28px; 
  text-align: center;
}

.careernote_menu_link {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
}

.careernote_promotion_text{
  font-size:13px;
  color: #555555;
}

.careernote_guide_container{
  margin: 7px 0px;	
}

.careernote_container {
  margin-bottom: 20px;
  overflow: auto;
}

.careernote_long_container{
  width: 700px;
  padding-top: 20px;
}

.careernote_content_container{
  width:550px; 
}

.careernote_main_area { 
  width: 550px;
  min-height: 120px;
}

.careernote_author{
  width:150px;
  height:150px;
  margin-top:15px;
  text-align:center;
}

.careernote_author_name {
  font-weight: bold; 
  text-align: center;
}

.careernote_employment_information {
  margin-bottom: 10px;
}

.careernote_title{
  text-align:center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

.careernote_organization_name {
  font-size: 15px;
  font-weight: bold;
  color: #777777;
}

.careernote_employment_additional_information {
  margin-left: 3px;
  color: #999999;
  font-size: 11px;
}

.careernote_content {
  min-height: 70px;
}

.careernote_commentable_area {
  margin-top: 20px;
}

.careernote_box{
  padding:9px;
  margin: 10px 10px 10px 0;
  width:200px;
  height:200px;
  overflow:hidden;
  float:left;  
  background:white;
  border: 1px solid #CECECE;
  box-shadow: 0 0 6px skyblue;	
}

.careernote_box:hover{
  border: 1px solid DeepSkyBlue;
  width:200px;
  width:200px;
}

.careernote_box_author_name{	
  float:left;
  position:relative;
  z-index:2;
  margin-top:5px;
}
.careernote_box_profile_pic{
  float:left;
  margin-right:2px;
}
.careernote_box_employmentinfo{
  margin-top:40px;	
  text-align:center;
  position:relative;	
  height:30px;
  background:#E8F0F7;
  border-radius:5px;
  padding:2px;

}
.careernote_dashboard_emyploymentinfo{
  margin-bottom:5px;
  text-align:center;
  position:relative;	
  height:30px;
  background:#E8F0F7;
  border-radius:5px;
  padding:2px;	
}

.careernote_box_likes_comments{
  width:200px;
  padding-top:3px;
  border-top: 1px solid #EAE9E8;  	
}
.likes_comment{
  color: #777777;
  font-size: 12px;
}

.careernote_box_likes_comments .read_more_link{
  display:none;	
}

.careernote_box_content{
  margin-top:40px;
  color: #555555;  
}
#careernote_read_more_link{
  float:right;
}

.careernote_dashboard_employments_container{
  margin-top:10px;
  margin-left:10px;
  padding:5px;
  float:left;
  min-width:160px;
  min-height:100px;
}

.dashboard_submenu{
  display:none;	
}


