.careernotes_container {
  width: 650px;
}

.careernote_container {
  width: 600px;
  min-height: 100px;
  margin-bottom: 20px;
}

.careernote_employment_info {
  margin-bottom: 10px;
}

.careernote_organization_name {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
}

#careernote_form_text_area { 
  width: 600px;
  height: 80px;
  margin-top: 5px;
}

.careernote_form_submit {
  width: 600px;
  height: 30px;
  margin-top: 10px;
}

.careernote_button{
  padding:0.5px;
  background:#CDEDEE;
  font-size: 11px;
  
}
#careernote_introduction{
  padding:1px;
  margin: 30px 0 20px 0;
}
.careernote_keyword{
  font-size:25px;
  font-weight:bold;
  line-height: 40px; 
  letter-spacing: -1px;
  color: #38ACEC;
}
.careernote_sub{
  color: #79BAEC;
}
.careernote_short_section{
  float:right;
}
.careernote_long_section{
  float:left;
}
.careernote_tag_container{
  margin-top:100px;
}
.careernote_profile{
  margin-top:20px;
}
.careernote_body{
  margin-top:20px;	
}

.careernote_guide_container{
  margin: 7px 0px;	
}
