.careernotes_container {
  width: 800px;
}

#careernote_form_text_area { 
  width: 800px;
  height: 80px;
  margin-top: 5px;
}

.careernote_form_submit {
  width: 600px;
  height: 30px;
  margin-top: 10px;
}

.careernote_banner {
  font-size:20px;
  font-weight:bold;
  color: #777777;
  width: 750px;
  margin-bottom: 20px;
}

#careernotes {
  width: 700px;
  
}

#careernotes_menubar {
  width: 170px;
}

.careernote_menu_link_container {
  width: 170px;
  height: 30px;
  line-height: 28px; 
  text-align: center;
}

.careernote_menu_link {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
}

.careernote_keyword{
  font-size:25px;
  font-weight:bold;
  color: #38ACEC;
}
.careernote_promotion_text{
  font-size:13px;
  color: #555555;
}

.careernote_guide_container{
  margin: 7px 0px;	
}

.careernote_feed_name{
  color: #38ACEC;
}

.careernote_container {
  width: 550px;
  margin-bottom: 20px;
  overflow: auto;
}

.careernote_main_area { 
  width: 550px;
  min-height: 120px;
}

.careernote_author_name {
  width: 100px;
  font-weight: bold; 
  text-align: center;
}

.careernote_employment_information {
  margin-bottom: 10px;
}

.careernote_organization_name {
  font-size: 15px;
  font-weight: bold;
  color: #777777;
}

.careernote_employment_additional_information {
  margin-left: 3px;
  color: #999999;
  font-size: 11px;
}

.careernote_content {
  min-height: 70px;
}

.careernote_commentable_area {
  margin-top: 20px;
}

.careernote_box{
  padding:10px;
  margin: 10px 10px 10px 0;
  width:200px;
  height:200px;
  overflow:hidden;
  float:left;  
  border: 1px solid #EAE9E8;
  background:white;
}

.careernote_box:hover{
    box-shadow: 2px 2px 2px 2px #ccc;	
}

.careernote_box_author_name{	
  float:left;
  position:relative;
  z-index:2;
  margin-top:5px;
}
.careernote_box_profile_pic{
  float:left;
  margin-right:2px;
}
.careernote_box_employmentinfo{
  margin-top:40px;	
  text-align:center;
  position:relative;	
  height:30px;
  background:#E8F0F7;
  border-radius:5px;
  padding:2px;

}
.careernote_dashboard_emyploymentinfo{
  margin-bottom:5px;
  text-align:center;
  position:relative;	
  height:30px;
  background:#E8F0F7;
  border-radius:5px;
  padding:2px;	
}
.careernote_box_likes_comments{
  width:200px;
  padding-top:3px;
  border-top: 1px solid #EAE9E8;
  
}

.careernote_box_content{
  margin-top:40px;
}
#careernote_read_more_link{
  float:right;	
}

.careernote_dashboard_employments_container{
  margin-top:30px;
  margin-left:10px;
  padding:5px;
  float:left;
  min-width:160px;
  min-height:100px;
}

.careernote_feed_employmentinfo{
  text-align:center;
  max-width:200px;
  background:#E8F0F7;
  border-radius:5px;
  height:30px;
  padding:2px;
}

.careernote_feed_content_container{
  margin-left:40px;
  margin-top:15px;
  margin-bottom:30px;
}
.careernote_feed_content{
  color:#999999;
  font-size:11px;
  border-left: 2px solid #D9D9D9;
  padding-left:2px;
}
