#welcome_container {
	width:800px; 
	height:285px; 
	position:fixed; 
	left: 50%; 
	top:50%; 
	margin-left:-400px;
	margin-top:-142.5px;
}

#welcome_banner {
	width:450px; 
	height:285px; 
	float:left
}

#welcome_form_container {
	width:350px;
	height:285px;
	float:right
}

#signup_title {
  height:35px;
}

#signup_message {
  width:350px;
  height:17px;
  font-size:11px;
}

.signin_textfield{
  width: 265px;
  height: 25px;
  padding: 3px;
  margin: 3px 0;
}
