#alumni_search_result {
 width: 520px;
  margin-top: 50px;
}

#search_form_container {
  width: 520px;
  height: 105px;
  margin-top: 40px;
  border-bottom: 1px solid #cccccc;
}

#search_form_main {
  margin: 0 auto;
  width: 300px;
  height: 40px;
  color: #888888;
  font-size: 15px;
  font-weight: bold;
}

#search_form_submit {
  margin: 0 auto;
  width:82px;
}

#search_form select {
  height: 20px;
}

#search_form input[type=text] {
  height: 15px;
  width: 100px;
}

.no_result_message {
  width: 200px;
  color: #444444;
  font-size: 12px; 
  margin: 0 auto;
}

.search_list_elem {
  margin-bottom: 10px;
}

.search_result_item_row {
  margin-bottom: 15px;
}

.search_result_item {
  width: 120px;
  text-align: center;
}

.search_list {
  margin-top: 40px;
}

.search_link {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
