#tag_add_button_container{
  margin-top:8px;
}
.tag_textfield{
  width:100px;  
  height:20px;
  border-style: none none solid none;
  border-width:1px;
}

#tag_error_message{
 color:red; 
}

#tag_users{
  margin-left:100px;
  display:none;
}  
#tag_suggestion ul{
  width: 100px;
  font-size:11px;
}
