#show_tag_container{
  min-height:500px;	
  width:700px;
}

#tag_menubar{
  width:170px;
}

#show_tag_header{
  width:700px;	   
  margin-bottom:20px;
}

#tag_add_button_container{
  margin-top:8px;
}
.tag_textfield{
  width:100px;  
  height:20px;
  border-style: none none solid none;
  border-width:1px;
}

#tag_error_message{
 color:red; 
}

.tag_content{
  margin-right:100px;
}  
#tag_suggestion ul{
  width: 100px;
  font-size:11px;
}

#tag_like_container{
  float:right;
  margin-right:90px;    
  margin-top:40px;
}

.tag_like_button{
  padding:6px;
  border: 1px solid #BDBDBD;
  color:#A4A4A4;
  font-weight:bold;
}

.tag_like_button:hover{
  border: 1px solid #38ACEC;
  color:#38ACEC;
  font-weight:bold;
}

/* Tag Cloud */

#tag_index_link{
  margin-top:20px;    
}

/* Index.html */

#index_tag_cloud_container{
  width:300px;    
}
#index_tagging_container{
  width:550px;
}

.tagging_div span.latter{
  margin-left:10px;    
}
.tagging_div span.careernote_icon{
  margin-left:-5px;
}

.tagging_div{
  margin-bottom:10px;    
}
