#show_tag_container{
  min-height:500px;	
  width:700px;
}
#tag_menubar{
  width:170px;
}
#tag_add_button_container{
  margin-top:8px;
}
.tag_textfield{
  width:100px;  
  height:20px;
  border-style: none none solid none;
  border-width:1px;
}

#tag_error_message{
 color:red; 
}

.tag_content{
  margin-right:100px;
}  
#tag_suggestion ul{
  width: 100px;
  font-size:11px;
}

#show_tag_header{
  width:700px;	    
}

#tag_like_container{
  float:right;
  margin-right:50px;    
}
