<div class='careernote_employment_information'>
  <div class='careernote_organization_name'><%= employment.organization.name %></div>
  <div class='careernote_employment_additional_information'>
    <% unless employment.position.blank? %>
      <span><%= employment.position %></span>
    <% end %>
    <% unless employment.start_year.blank? %>
      <span>
        <%= employment.start_year.year %> 
        <% if employment.end_year.blank? %>
            - 현재
        <% elsif employment.start_year.year != employment.end_year.year%>
          - <%= employment.end_year.year %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
