<% name = @employment.organization.name %>
<% guidetext= "다음 질문들은 예시 질문입니다.\n\n0. #{name}에 대해 간단히 소개해주세요." %>


<div id="careernote_error_message" class='warning'></div>
<%= form_for [@employment, @careernote], id: 'careernote_form', remote: true do |f| %>
  <div>
    <%= f.text_area :content, autocomplete: :off, id: 'careernote_form_text_area', value: guidetext%>
  </div>
  <div class='careernote_form_submit'>
    <%= f.submit '커리어 노트 올리기', class: 'ui-button float-right', onclick: 'editor.post()' %>
  </div>
<% end %>

