<div class='careernote_employment_information'>
  <div class='careernote_organization_name'><%= employment.organization.name %></div>
   <%= render partial: 'careernotes/careernote_employment_additional_information', locals: {employment: employment} %>
</div>
