<div class='careernote_banner'>
  <h1>커리어 노트</h1>
  <b>
    <p class='careernote_promotion_text'>
    커리어노트를 통해 직장에서의 경험을 공유하세요!
     현재 총  <span style="font-size:20px"><%= Careernote.count %></span>
    <%= "개의 커리어노트가 공유되었습니다." %>  
    </p>
    </b>
</div>
<div id='careernotes' class='float-left'>
</div>

<div id='careernotes_menubar' class='float-right'>
  <div class='careernote_menu_link_container'>
    <ul>
      <li><%= link_to '내 커리어노트 쓰기/보기', careernote_dashboard_url, class: 'careernote_menu_link' %></li>
    </ul>
  </div>
  <div class='careernote_tagcloud_container'>
    <%= render partial:'tags/tag_cloud', locals: {taggable:"Careernote"} %>
  </div>
</div>


<script type='text/javascript'>
  var page = 1;
  var numPages = 0;
  var loading = true;
  var content = 'careernote'
  var params = ''

  $(document).ready( feed() );
</script>
