<div class='careernote_banner'><span class='careernote_keyword'>커리어노트</span><span>로 직장에서의 경험을 공유하세요!</span></div>
<div>
  <%= link_to '내 커리어노트', careernote_dashboard_url %>
</div>
<div id='careernotes'>
</div>
<script type='text/javascript'>
  var page = 1;
  var numPages = 0;
  var loading = true;
  var content = 'careernote'
  var params = ''

  $(document).ready( feed() );
</script>
