<div id='write_careernote_container' class='careernotes_container'>
  <div class='careernote_header'>
    <div id='careernote_employment_info'>
      
    </div>
  </div>
  </div>
  <div class='careernote_guide_container'>
    <%= link_to '커리어 노트 작성 가이드 보기' %>
  </div>
  <div class='careernote_form_container'>
    <%= render partial: 'careernotes/careernote_form' %>
  </div>
</div>
