<div id='main_banner_wrapper', class='shadow'>  
  <span id='banner'><%= image_tag asset_path('main_banner.jpg') %></span>
  <span id='x_button'><%= image_tag(asset_path('banner_close.png'), size:"20x20") %></span>
  <span id='banner_text'>
    <p>Example Text Example Text</p>
  </span>
</div>

